<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android" 
        xmlns:cdv="http://cordova.apache.org/ns/1.0"
        id          = "COLTERY"
        versionCode = "10"
        version     = "1.0.0">

    <name>ТЕСТ. cotlery.wixsite.com</name>

    <description>
        Приложение для прсомотра фильмов и сериалов бесплатно, без платной подписки
    </description>

    <author>Tadapp</author>

    <preference name='phonegap-version' value='cli-9.0.0' />

    <plugin name='cordova-plugin-splashscreen' />
    <plugin name='cordova-plugin-inappbrowser' />

    <gap:plugin name='onesignal-cordova-plugin' spec='2.4.5' source='npm' />

    <preference name='android-build-tool' value='gradle' />
    <preference name="android-targetSdkVersion" value="29" />
    <preference name='orientation' value='portrait' />

    <preference name='windows-appx-target' value='8.1-phone' />
    <preference name='WindowsToastCapable' value='true' />

    <preference name="SplashMaintainAspectRatio" value="true" />
    <preference name="SplashScreenSpinnerColor" value="#007BFF" />
    
    <platform name="android">
      <edit-config file="app/src/main/AndroidManifest.xml" mode="merge" target="/manifest/application">
          <application android:usesCleartextTraffic="true" />
      </edit-config>
    </platform>


    <platform name="android">
        <icon src="res/android/icon/56fdc074d52d999e2063f24a5021dfac.png" density="ldpi" />
        <icon src="res/android/icon/ee10256c8b35766832cabec5e17582f3.png" density="mdpi" />
        <icon src="res/android/icon/8f84bd93599edcedd82fd75072ed34f2.png" density="hdpi" />
        <icon src="res/android/icon/b2c360d940c4e8701b3fee86d6267fb8.png" density="xhdpi" />
        <icon src="res/android/icon/3cc002cfaa0145c8b7ac4f946c5cc377.png" density="xxhdpi" />
        <icon src="res/android/icon/4b6644b8de2f24cd5ecd03272c2acbb2.png" density="xxxhdpi" />

        <splash src="res/android/screen/25299627f996e388017dacec3939fda3.png" density="port-hdpi"/>
        <splash src="res/android/screen/126b81cedd53762985518525b2cdc943.png" density="port-ldpi"/>
        <splash src="res/android/screen/cde6a702c6294bbdd89e2dbdd79fe4e5.png" density="port-mdpi"/>
        <splash src="res/android/screen/27ae539067e3ee3d8bfc4426fd03f38f.png" density="port-xhdpi"/>
    </platform>

    <platform name="ios">
        <icon src="res/ios/icon/b7994ec0004a7d405b815020ce85ac44.png" width="180" height="180" />
        <icon src="res/ios/icon/4a6407ceef986fc76ee6557b0f2192b5.png" width="60" height="60" />
        <icon src="res/ios/icon/239bc12db929d35230c97e28208f0db2.png" width="120" height="120" />
        <icon src="res/ios/icon/76e870f7e6e563faf8206c2c5fb0b2ec.png" width="76" height="76" />
        <icon src="res/ios/icon/7ec74de79bb13fcc48920c8fc4b6068b.png" width="152" height="152" />
        <icon src="res/ios/icon/5764891e6bad82141ecbf6e5093c6a2d.png" width="57" height="57" />
        <icon src="res/ios/icon/a1684ef63f985699b108be269bfc012c.png" width="114" height="114" />
        <icon src="res/ios/icon/205729886f1406f80e5aae08b7f64cb3.png" width="72" height="72" />
        <icon src="res/ios/icon/511ff349eb91ab94c776a95fd9925a4c.png" width="144" height="144" />
        <icon src="res/ios/icon/1be409edf2ac7d2c1e5d62c00e6aa987.png" width="167" height="167" />
        <icon src="res/ios/icon/c35cff3eebb6172ce7b026225c4ed63e.png" width="29" height="29" />
        <icon src="res/ios/icon/1dae768268d52d58b17e967bbb9b9918.png" width="58" height="58" />
        <icon src="res/ios/icon/80322ceee035d6474515050dd8925b32.png" width="87" height="87" />
        <icon src="res/ios/icon/b305b2b8438291ac73e8d9448f986b94.png" width="167" height="167" />

        <splash src="res/ios/screen/092dfda2b8fb80742d8c354039ad6a3e.png" />
        <splash src="res/ios/screen/a88961992458d32235ee83aa2faef793.png" />
        <splash src="res/ios/screen/c45a1476bda41d41529d8a2789bca2fd.png" />
        <splash src="res/ios/screen/176dce0afaa0cc868180e1cd515c3fe6.png" />
        <splash src="res/ios/screen/9073b3385c82c163bd17e7fc61d96337.png" />
        <splash src="res/ios/screen/0d2d2190b246a13622e8e182dcaadc36.png" />
    </platform>

    <platform name="winphone">
        <icon src="res/windows/icon/abc4b7a7cc510acfb495427e0c1da85b.png" target="StoreLogo" />
        <icon src="res/windows/icon/bf7a13ba17987eed1876b7d1e9f35aa3.png" target="Square30x30Logo" />
        <icon src="res/windows/icon/5b36a9dfe1b0f1c7ebcdc3daf5e1b14e.png" target="Square44x44Logo" />
        <icon src="res/windows/icon/3a39504c65286fd110a1a8210a590ed7.png" target="Square70x70Logo" />
        <icon src="res/windows/icon/5b618351fe7273de6271f563701af3fa.png" target="Square71x71Logo" />
        <icon src="res/windows/icon/ac97e931af28cd84aff5c1cd0f06db8e.png" target="Square150x150Logo" />
        <icon src="res/windows/icon/b2e31dc5c2fb91f3f1596d28b19e1d8b.png" target="Square310x310Logo" />

        <splash src="res/windows/screen/cb13440a978a34eb6588fd81d7ba0d30.png" target="SplashScreen"/>
        <splash src="res/windows/screen/f24022da86b56fc9b6ddceec18c5f5ae.png" target="SplashScreenPhone"/>
    </platform>

    <access origin='*'/>
    <plugin name='cordova-plugin-whitelist' />
    <allow-intent href='http://*/*'/>
    <allow-intent href='https://*/*'/>
    <allow-intent href='tel:*'/>
    <allow-intent href='sms:*'/>
    <allow-intent href='mailto:*'/>
    <allow-intent href='geo:*'/>

</widget>