<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android" 
        xmlns:cdv="http://cordova.apache.org/ns/1.0"
        id          = "com.cotlery.wixsite.film"
        versionCode = "10"
        version     = "1.6.0">

    <name>ТЕСТ. COTLERY</name>

    <description>
        Приложение для прсомотра фильмов и сериалов бесплатно, без платной подписки
    </description>

    <author>Tadapp</author>

    <preference name='phonegap-version' value='cli-9.0.0' />

    <plugin name='cordova-plugin-splashscreen' />
    <plugin name='cordova-plugin-inappbrowser' />

    <gap:plugin name='onesignal-cordova-plugin' spec='2.4.5' source='npm' />

    <preference name='android-build-tool' value='gradle' />
    <preference name="android-targetSdkVersion" value="29" />
    <preference name='orientation' value='portrait' />

    <preference name='windows-appx-target' value='8.1-phone' />
    <preference name='WindowsToastCapable' value='true' />

    <preference name="SplashMaintainAspectRatio" value="true" />
    <preference name="SplashScreenSpinnerColor" value="#007BFF" />
    
    <platform name="android">
      <edit-config file="app/src/main/AndroidManifest.xml" mode="merge" target="/manifest/application">
          <application android:usesCleartextTraffic="true" />
      </edit-config>
    </platform>


    <platform name="android">
        <icon src="res/android/icon/c8dffd8f2ce1d928a06093d9636b0ae1.png" density="ldpi" />
        <icon src="res/android/icon/9845d6c7878a40fb58ed2f15801d7852.png" density="mdpi" />
        <icon src="res/android/icon/e1f2f412f73b93720a9e1e0f9958b194.png" density="hdpi" />
        <icon src="res/android/icon/715094048d8ca3014c87da916397f4fd.png" density="xhdpi" />
        <icon src="res/android/icon/b2d472a2dabb6b64ee33cb9b44e3f69f.png" density="xxhdpi" />
        <icon src="res/android/icon/914814f145ec5b381f8cdb4204442044.png" density="xxxhdpi" />

        <splash src="res/android/screen/17411a34264e7755d6cde61af373d3da.png" density="port-hdpi"/>
        <splash src="res/android/screen/0a4dca39db1a9d39b0f82d013b58dbf1.png" density="port-ldpi"/>
        <splash src="res/android/screen/408999ca5d4ed954bfc82952edf2f17d.png" density="port-mdpi"/>
        <splash src="res/android/screen/6a54d57eaec076a778cb5a4e216c7659.png" density="port-xhdpi"/>
    </platform>

    <platform name="ios">
        <icon src="res/ios/icon/56fad570e798e382e89becd449abfcfe.png" width="180" height="180" />
        <icon src="res/ios/icon/cbaf8d578bcb9db847004b59bdfb133b.png" width="60" height="60" />
        <icon src="res/ios/icon/59800c937aa1e1bd3af530296167d3f9.png" width="120" height="120" />
        <icon src="res/ios/icon/d65199bb2a50d4f4af96f3fdd4894894.png" width="76" height="76" />
        <icon src="res/ios/icon/4cfcee270fd4d310d7a0bbdba3b1db76.png" width="152" height="152" />
        <icon src="res/ios/icon/65fa8a1aac37eb78b943f7eea1e36b6b.png" width="57" height="57" />
        <icon src="res/ios/icon/86814cdbcee77e7d99d02759ac362e8b.png" width="114" height="114" />
        <icon src="res/ios/icon/2bc0eafeba652056786c77a15133800f.png" width="72" height="72" />
        <icon src="res/ios/icon/24fb9c87ede3f947357a76ba18a31f8f.png" width="144" height="144" />
        <icon src="res/ios/icon/e3097264f336fc490f58da964f59e11d.png" width="167" height="167" />
        <icon src="res/ios/icon/3597d34997e655bd324c7eab83a95f37.png" width="29" height="29" />
        <icon src="res/ios/icon/8179bf71a0cd962caec3105f24910414.png" width="58" height="58" />
        <icon src="res/ios/icon/1ca84c4121907198b1053f06ad8173cb.png" width="87" height="87" />
        <icon src="res/ios/icon/4579e1503df75747479c12dd3db83e81.png" width="167" height="167" />

        <splash src="res/ios/screen/092dfda2b8fb80742d8c354039ad6a3e.png" />
        <splash src="res/ios/screen/a88961992458d32235ee83aa2faef793.png" />
        <splash src="res/ios/screen/c45a1476bda41d41529d8a2789bca2fd.png" />
        <splash src="res/ios/screen/176dce0afaa0cc868180e1cd515c3fe6.png" />
        <splash src="res/ios/screen/9073b3385c82c163bd17e7fc61d96337.png" />
        <splash src="res/ios/screen/0d2d2190b246a13622e8e182dcaadc36.png" />
    </platform>

    <platform name="winphone">
        <icon src="res/windows/icon/ccdf991417649ea7833cd695c37bf8f5.png" target="StoreLogo" />
        <icon src="res/windows/icon/5a3bdd3a8c1ce56d200d680bcd49fd5e.png" target="Square30x30Logo" />
        <icon src="res/windows/icon/5f35f53fcde1699e2c174527c2361879.png" target="Square44x44Logo" />
        <icon src="res/windows/icon/b39dde3deaa6198483e5b7c3ef28e82d.png" target="Square70x70Logo" />
        <icon src="res/windows/icon/1c5d5e395331df96d14ac5775bdce078.png" target="Square71x71Logo" />
        <icon src="res/windows/icon/21e5da3e19320488bac3b9b4d5b102d9.png" target="Square150x150Logo" />
        <icon src="res/windows/icon/f16860a2aa1d0fb39cde94a50d7d6adc.png" target="Square310x310Logo" />

        <splash src="res/windows/screen/cb13440a978a34eb6588fd81d7ba0d30.png" target="SplashScreen"/>
        <splash src="res/windows/screen/f24022da86b56fc9b6ddceec18c5f5ae.png" target="SplashScreenPhone"/>
    </platform>

    <access origin='*'/>
    <plugin name='cordova-plugin-whitelist' />
    <allow-intent href='http://*/*'/>
    <allow-intent href='https://*/*'/>
    <allow-intent href='tel:*'/>
    <allow-intent href='sms:*'/>
    <allow-intent href='mailto:*'/>
    <allow-intent href='geo:*'/>

</widget>